.random-container{
	min-height:80vh;
	max-height: auto;
	margin-bottom: 2px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
ul {
	padding: 0;
	width: 95%;
	display: flex;
	flex-wrap: wrap;
}
li:last-child {
	flex-grow: 10;
}
.random-btn-load{
	width: 240px;
	height: 36px;
	margin-bottom: 12px;
	border-radius: 18px;
	border: none;
	background-color: black;
	font-size: 1.2em;
	font-weight: 400;
	color: white;
	cursor: pointer;
	transition: all 0.2s;

}
.random-btn-load:hover{
	background-color: cornflowerblue;
}